# Python
__pycache__/
*.py[cod]
.venv/

# Environments / IDE
.vscode/
.idea/

# Docker
*.pyc
*.pyo
*.pyd
build/
dist/

# Tests
.coverage
htmlcov/

# data artefacts
data/
*.faiss
embeddings*
embeddings/
index/

# duckdb & parquet artifacts
duckdb/
parquet/
.duckdb_extensions/

# env files
.env
.envrc
/clickhouse/logs/clickhouse-server.err.log
/clickhouse/logs/clickhouse-server.log
